$white: #fefefe;

$red-400: #ff8787;
$red-500: #ff6b6b;
$red-600: #fa5252;
$red-700: #f03e3e;
$red-800: #e03131;

$green-400: #69db7c;
$green-500: #51cf66;
$green-600: #40c057;
$green-700: #37b24d;
$green-800: #2f9e44;

$blue-400: #4dabf7;
$blue-500: #339af0;
$blue-600: #228be6;
$blue-700: #1c7ed6;
$blue-800: #1971c2;

$orange-400: #ffa94d;
$orange-500: #ff922b;
$orange-600: #fd7e14;
$orange-700: #f76707;
$orange-800: #e8590c;

$yellow-400: #facc15;
$yellow-500: #eab308;
$yellow-600: #ca8a04;
$yellow-700: #a16207;
$yellow-800: #854d0e;

$dark-000: #f8fafc;
$dark-100: #f1f5f9;
$dark-200: #e2e8f0;
$dark-300: #cbd5e1;
$dark-400: #94a3b8;
$dark-500: #64748b;
$dark-600: #475569;
$dark-700: #334155;
$dark-800: #1e293b;
$dark-900: #0f172a;

$primary: #057f95;
$secondary: #f0c040;
$text-primary: $dark-800;
$success-background: $green-400;
$success-primary: $green-700;
$danger-background: $red-400;
$danger-primary: $red-700;
$background: $dark-100;
$background-light: $dark-600;
$background-dark: $dark-900;
