@use "../mixin/colors" as colors;

body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
  *:focus {
    outline: none;
  }
}

::-webkit-scrollbar {
  width: 0px;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.box-shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-flex {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 100%;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.75rem;
  font-family: "Quicksand", sans-serif;
  border-radius: 0.5rem;
  display: block;
  text-align: center;
  transition: all 0.5s;
  padding: 0.5rem 0;
  margin: 0.5rem auto;
  cursor: pointer;
  background-color: colors.$primary;
  color: colors.$white;
  &:hover {
    color: colors.$text-primary;
  }
  &:disabled {
    opacity: 0.5;
    color: colors.$white;
    cursor: not-allowed;
  }
}

.light {
  background-color: colors.$dark-100;
  color: colors.$dark-900;
}

.dark {
  background-color: colors.$dark-700;
  color: colors.$white;
}
